@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: hsl(217, 54%, 11%);
}

#container {
    width: 347px;
    height: 596px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 18px;
    margin: 100px;
}

#image img{
    width: 302px;
    height: 302px;
    border-radius: 10px;
    margin: 22px;
}

#content {
    margin: 0 25px;
    font-family: Outfit, Arial, sans-serif;
    color: hsl(0, 0%, 100%);
}

#content h1 {
    font-size: 25px;
    margin-bottom: 20px;
}

#content p {
    font-size: 18px;
    color: hsl(215, 51%, 70%);
}

#price-time {
    display: flex;
    font-family: Outfit, Arial, sans-serif;
    margin-left: 25px;
}

#eth {
    display: flex;
    align-items: center;
}

#eth img {
    width: 11px;
    height: 18px;
}

#eth h4 {
    color: hsl(178, 100%, 50%);
    padding-left: 7px;
}

#time {
    display: flex;
    margin: 20px 54px;
    align-items: center;
}

#time img {
    width: 17px;
    height: 17px;
}

#time h4 {
    font-weight: 400;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    padding-left: 7px;
}

#avatar {
    width: 85%;
    height: auto;
    margin-left: 20px;
    color: hsl(215, 51%, 70%);
    display: flex;
    border-top: 1px solid hsl(215, 32%, 27%);
    
}

#avatar img {
    width: 35px;
    height: auto;
    margin: 20px 3px;
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
}

#avatar h5 {
    font-family: Outfit, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    margin-top: 25px;
    padding-left: 10px;
}

#avatar h5 span {
    color: hsl(0, 0%, 100%);
}
